a{
    text-decoration-style: none;
    
}

center {
    
    padding-top: 7em;
    padding-bottom: 7em;
}



hr{
    height: 1em;
}

marquee{
    outline-style: groove;
    color: azure;
}


p {
    
    padding: 2em;
}

.col-1 {
    color:aliceblue;
    background-color: black;
    height: 5em;
    line-height: 5em;
    border: 1px solid white;
}

.col-4 {
    background-color: #34495e;
    height: 80%;
    color: burlywood;
}
